<div class="collection-field-container">
    <div style="width:13%;">
        <a href="#" class="collection-delete-item" style="float:right;">&#215;</a>
        {{ form_row(widget_choice.choice) }}
    </div>
</div>