{% block chromedia_widget_choice_widget %}
{% spaceless %}
    <input type="text" placeholder="Widget value">
    <a href="#" class="add-widget-choice-trigger">Add</a> |
    <a href="#" class="remove-widget-choice-trigger">Remove</a>
{% endspaceless %}
{% endblock %}