{% block chromedia_widget_choice_widget %}
{% spaceless %}
    <input type="text" placeholder="Widget value" name="__name__">
    <a href="#" class="remove-widget-choice-trigger">Remove</a>
{% endspaceless %}
{% endblock %}

